<div fxlLayout="row" fxLayoutAlign="start" fxFlex="100">
    <mat-toolbar>
        <div fxLayout="row" fxLayoutGap="20px">
            <div> <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button></div>
                <div>
                    <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png">
                </div>
         <div> fundooNotes
        </div>
        <div fxLayout="row" fxFlex="40">
            <mat-card>
                    <button mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                <input matInput placeholder="Search">
            </mat-card>
        </div>
    </div>

</mat-toolbar>
<div fxLayout="row">
        <div> 
            <button mat-icon-button>
                <mat-icon>drag_handle</mat-icon>
            </button>
        </div>
    </div>


<div fxLayout="row" fxLayoutGap="10px">
        <button mat-button [matMenuTriggerFor]="menu" mat-icon-button>
            <mat-icon>
                view_comfy
            </mat-icon>
        </button>
    
        <mat-menu #menu="matMenu">
            <button mat-menu-item>emailidoflogged</button>
            <button mat-menu-item>SingOut</button>
        </mat-menu>
    </div>
</div>