<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20%">
    <mat-toolbar>

        <div fxLayout="row" fxFlex="10">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon matTooltip="menu">menu</mat-icon>
            </button>
        </div>
        <div fxLayout="row" fxFlex="5">
            <img src="https://www.gstatic.com/images/branding/product/1x/keep_48dp.png">
        </div>

        <div fxLayout="row" flex="8"><span>fundoo</span></div>

        <div fxLayout="row" fcFlex="40">
            <mat-card>
                <form [formGroup] = "searchForm"> 

                        <button mat-icon-button (click)="onSearch()">
                                <mat-icon class="search">search</mat-icon>
                            </button>
                            <input matInput placeholder="Search" formControlName="text">
                        
                </form>
            </mat-card>
              
            
        </div>
        <div fxLayout="row" class="left-icon1">

            <button mat-icon-button>
                <mat-icon>drag_handle</mat-icon>
            </button>

        </div>

        <div fxLayout="column" fxLayoutAlign="start">
            <button mat-button  mat-icon-button (click)=" gridGetNote()" >
                <mat-icon>
                    grid_on
                </mat-icon>
            </button>
            
        </div>

        <div fxLayout="row">
                <button mat-button [matMenuTriggerFor]="menu" mat-icon-button>
                        <mat-icon>
                                account_circle
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                            
                            <button mat-menu-item (click)="onLogOut()">SingOut</button>
                        </mat-menu>
<!-- 
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button> -->
        </div>
    </mat-toolbar>
</div>
<mat-sidenav-container class="example-container">
   
    <mat-sidenav #sidenav class="example-sidenav" mode="side">
          
        <mat-nav-list class="navigationlist">
            <mat-list class="mat-list">
                <div>
                    <button mat-button (click)="getNote()">
                        <mat-icon>lightbulb_outline</mat-icon> Notes
                    </button>
                </div>
                <div>
                    <button mat-button>
                        <mat-icon>notifications_none</mat-icon> Reminder
                    </button>
                </div>
                <span>Labels</span>
                <!-- <app-editlabel></app-editlabel> -->
                <div>
                     
                    <button mat-button (click)="openDialog()">
                        <mat-icon>edit</mat-icon> Edit
                    </button>
                </div>
                <div>
                    <button mat-button (click)="archiveShow()">
                        <mat-icon>archive</mat-icon> Archive
                    </button>
                </div>
                <div>
                        <!-- (click)="trashShow() -->
                    <button mat-button (click)="trashShow()">
                        <mat-icon>delete </mat-icon>
                        Bin
                    </button>
                </div>
                
            </mat-list>
        </mat-nav-list>
    </mat-sidenav>
     <mat-sidenav-content class="content"> 
            <router-outlet></router-outlet>
       </mat-sidenav-content> 
</mat-sidenav-container>