<div fxLayout="row" fxLayout="center center" fxFlex="50">
    <mat-card fxLayout="row" fxLayout="center center" fxFLex="50">
            <div fxLayout="row">
       

    <input matInput placeholder="Title" > 
                    <input matInput placeholder="Take a Note .." >
                
                </div>
                
                  <button mat-icon-button>
                    <mat-icon>notifications_none</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>person_add</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>color_lens</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>crop_original</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>archive</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>undo</mat-icon>
                  </button>
                  <button mat-icon-button>
                    <mat-icon>redo</mat-icon>
                  </button>
                  
                  <button mat-icon-button>
                    close
                  </button>
               
    </mat-card>

</div> 

