.mat-card-input{
    height: inherit;
    width: 500px;
    border:transparent;
    
}
.mat-card{
    margin-right: 200px;
    padding: 4px;
    width: fit-content;
    padding: 4px;
    margin-left: 203px;
    border-radius: 15px;
    margin-top:15px;
    
}

.mat-card-below{
    width: 550px;
    position: initial;
    height: 120px;
    margin-left: 203px;

}
.mat-card-below-input{
    height: 25px;
    width: inherit;
    border: transparent;
    margin:3px;
    border-radius: 3px;
}

.getNote{
    width: 400px;
    align-items: inherit;
}